<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}
<body>
    <div class="container-fluid">
        <div class="row">
            {{- partial "header.html" . -}}
        </div>
        <div class="row subject-padding">
            <div class="col-lg-2 col-md-3 padding-none sidebar-bgc">
                {{- partial "sidebar.html" . -}}
            </div>
            <div class="col-lg-10 col-md-9 padding-none">
                {{- partial "content.html" . -}}
            </div>
        </div>
        <div class="row">
            {{- partial "footer.html" . -}}
        </div>
    </div>
</body>
</html>
