.ocm{
  background-color: #0e0f45!important;
}

.ocm-btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #1DCECE;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.3rem;
  border-color: #1DCECE;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.ocm-btn:hover {
  color: #151515; 
  background-color: #1DCECE; 
}

.ocm-btn-lg {
  padding: 0.5rem 2rem;
  font-size: 1.25rem;
}

.rectangle {
  background-color: #1DCECE;
  width: 32px;
  height: 4px;
  margin-bottom: 1rem;
}

.full-height {
  height: 100%;
}

.section-padding {
  padding: 2rem;
}

.border-none {
  border: 0;
}

.subject-padding {
  padding-top: 4.5rem;
}

.subject-content-padding {
  padding-left: 3rem;
  padding-bottom: 1rem;
}

.subject-img {
  width: 50%;
  margin-right: -10px;
}

.feature-h1 {
  color:#151515;
  padding-bottom: 2rem;
}

.addons-h1 {
  color:#1DCECE;
}

@media (max-width: 768px) {
  .subject-img-none {
    display:none!important;
  }

  .subject-content-padding-md {
    padding: 1.5rem 0;
  }
}
