// 1. Colors

$ocm-purple: #0f0d48;
$ocm-light-blue: #1DCECE;
$ocm-light: #fff;
$ocm-dark: #151515;
$ocm-link: #0066cc;

// bulma overrides
$primary: $ocm-light-blue;
// $widescreen-enabled: false;
// $fullhd-enabled: false;