<html><head>
    <meta name="go-import" content="open-cluster-management.io/cluster-permission git https://github.com/open-cluster-management-io/cluster-permission">
    <meta name="go-source" content="open-cluster-management.io/cluster-permission     https://github.com/open-cluster-management-io/cluster-permission https://github.com/open-cluster-management-io/cluster-permission/tree/main{/dir} https://github.com/open-cluster-management-io/cluster-permission/blob/main{/dir}/{file}#L{line}">
</head></html>
