<html><head>
  <meta name="go-import" content="open-cluster-management.io/governance-policy-spec-sync git https://github.com/open-cluster-management-io/governance-policy-spec-sync">
  <meta name="go-source" content="open-cluster-management.io/governance-policy-spec-sync     https://github.com/open-cluster-management-io/governance-policy-spec-sync https://github.com/open-cluster-management-io/governance-policy-spec-sync/tree/main{/dir} https://github.com/open-cluster-management-io/governance-policy-spec-sync/blob/main{/dir}/{file}#L{line}">
</head></html>
