<html><head>
  <meta name="go-import" content="open-cluster-management.io/governance-policy-framework-addon git https://github.com/open-cluster-management-io/governance-policy-framework-addon">
  <meta name="go-source" content="open-cluster-management.io/governance-policy-framework-addon     https://github.com/open-cluster-management-io/governance-policy-framework-addon https://github.com/open-cluster-management-io/governance-policy-framework-addon/tree/main{/dir} https://github.com/open-cluster-management-io/governance-policy-framework-addon/blob/main{/dir}/{file}#L{line}">
</head></html>
