<html><head>
  <meta name="go-import" content="open-cluster-management.io/governance-policy-nucleus git https://github.com/open-cluster-management-io/governance-policy-nucleus">
  <meta name="go-source" content="open-cluster-management.io/governance-policy-nucleus     https://github.com/open-cluster-management-io/governance-policy-nucleus https://github.com/open-cluster-management-io/governance-policy-nucleus/tree/main{/dir} https://github.com/open-cluster-management-io/governance-policy-nucleus/blob/main{/dir}/{file}#L{line}">
</head></html>
