<html><head>
  <meta name="go-import" content="open-cluster-management.io/governance-policy-propagator git https://github.com/open-cluster-management-io/governance-policy-propagator">
  <meta name="go-source" content="open-cluster-management.io/governance-policy-propagator     https://github.com/open-cluster-management-io/governance-policy-propagator https://github.com/open-cluster-management-io/governance-policy-propagator/tree/main{/dir} https://github.com/open-cluster-management-io/governance-policy-propagator/blob/main{/dir}/{file}#L{line}">
</head></html>
