<html><head>
    <meta name="go-import" content="open-cluster-management.io/managed-serviceaccount git https://github.com/open-cluster-management-io/managed-serviceaccount">
    <meta name="go-source" content="open-cluster-management.io/managed-serviceaccount     https://github.com/open-cluster-management-io/managed-serviceaccount https://github.com/open-cluster-management-io/managed-serviceaccount/tree/main{/dir} https://github.com/open-cluster-management-io/managed-serviceaccount/blob/main{/dir}/{file}#L{line}">
</head></html>
