<html><head>
    <meta name="go-import" content="open-cluster-management.io/multicloud-operators-deployable git https://github.com/open-cluster-management-io/multicloud-operators-deployable">
    <meta name="go-source" content="open-cluster-management.io/multicloud-operators-deployable     https://github.com/open-cluster-management-io/multicloud-operators-deployable https://github.com/open-cluster-management-io/multicloud-operators-deployable/tree/main{/dir} https://github.com/open-cluster-management-io/multicloud-operators-deployable/blob/main{/dir}/{file}#L{line}">
</head></html>
