<html><head>
    <meta name="go-import" content="open-cluster-management.io/multicloud-operators-placementrule git https://github.com/open-cluster-management-io/multicloud-operators-placementrule">
    <meta name="go-source" content="open-cluster-management.io/multicloud-operators-placementrule     https://github.com/open-cluster-management-io/multicloud-operators-placementrule https://github.com/open-cluster-management-io/multicloud-operators-placementrule/tree/main{/dir} https://github.com/open-cluster-management-io/multicloud-operators-placementrule/blob/main{/dir}/{file}#L{line}">
</head></html>
