<html><head>
    <meta name="go-import" content="open-cluster-management.io/multicloud-operators-subscription-release git https://github.com/open-cluster-management-io/multicloud-operators-subscription-release">
    <meta name="go-source" content="open-cluster-management.io/multicloud-operators-subscription-release     https://github.com/open-cluster-management-io/multicloud-operators-subscription-release https://github.com/open-cluster-management-io/multicloud-operators-subscription-release/tree/main{/dir} https://github.com/open-cluster-management-io/multicloud-operators-subscription-release/blob/main{/dir}/{file}#L{line}">
</head></html>
