<html><head>
    <meta name="go-import" content="open-cluster-management.io/multicluster-controlplane git https://github.com/open-cluster-management-io/multicluster-controlplane">
    <meta name="go-source" content="open-cluster-management.io/multicluster-controlplane     https://github.com/open-cluster-management-io/multicluster-controlplane https://github.com/open-cluster-management-io/multicluster-controlplane/tree/main{/dir} https://github.com/open-cluster-management-io/multicluster-controlplane/blob/main{/dir}/{file}#L{line}">
</head></html>
