<html><head>
  <meta name="go-import" content="open-cluster-management.io/ocm-kustomize-generator-plugins git https://github.com/open-cluster-management-io/ocm-kustomize-generator-plugins">
  <meta name="go-source" content="open-cluster-management.io/ocm-kustomize-generator-plugins     https://github.com/open-cluster-management-io/ocm-kustomize-generator-plugins https://github.com/open-cluster-management-io/ocm-kustomize-generator-plugins/tree/main{/dir} https://github.com/open-cluster-management-io/ocm-kustomize-generator-plugins/blob/main{/dir}/{file}#L{line}">
</head></html>
