<html><head>
  <meta name="go-import" content="open-cluster-management.io/policy-generator-plugin git https://github.com/open-cluster-management-io/policy-generator-plugin">
  <meta name="go-source" content="open-cluster-management.io/policy-generator-plugin     https://github.com/open-cluster-management-io/policy-generator-plugin https://github.com/open-cluster-management-io/policy-generator-plugin/tree/main{/dir} https://github.com/open-cluster-management-io/policy-generator-plugin/blob/main{/dir}/{file}#L{line}">
</head></html>
