
.ocm, header nav {
  background-color: #0e0f45!important;
  color: #f8f9fa !important;
}

.ocm .bd-masthead{
  padding-top: 3em;
  margin-bottom: 0px !important;
}

.ocm .bd-masthead .col-md-8{
  padding-top: 4em;
  padding-bottom: 2em;
}

.ocm-btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #1DCECE;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.3rem;
  border-color: #1DCECE;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.ocm-btn:hover {
  color: #151515; 
  background-color: #1DCECE; 
}

.ocm-btn-lg {
  padding: 0.5rem 2rem;
  font-size: 1.25rem;
}

.rectangle {
  background-color: #1DCECE;
  width: 32px;
  height: 4px;
  margin-bottom: 1rem;
}

.full-height {
  height: 100%;
}

.feature-section {
  padding: 2rem;
  background-color: white;
}
.section-padding {
  padding: 2rem;
}

.border-none {
  border: 0;
}

.subject-padding {
  padding-top: 4.5rem;
}

.subject-content-padding {
  padding-left: 3rem;
  padding-bottom: 1rem;
}

.subject-img {
  width: calc(100% + (1680px - 1320px)/2 + 16px);
  height: calc(100% + 2em);
}

@media (max-width: 1400px) {
  .subject-img {
    width: calc(100% + (1400px - 1140px)/2 + 16px);
    height: calc(100% + 2em);
  }
}

@media (max-width: 1200px) {
  .subject-img {
    width: calc(100% + (1200px - 960px)/2 + 16px);
    height: calc(100% + 2em);
  }
}
@media (max-width: 992px) {
  .subject-img {
    width: calc(100% + (992px - 720px)/2 + 16px);
    height: calc(100% + 2em);
  }
}
@media (max-width: 768px) {
  .subject-img {
    width: calc(100% + (768px - 540px)/2 + 16px);
    height: calc(100% + 2em);
  }
}

.feature-h1 {
  color:#151515;
  padding-bottom: 2rem;
}

.addons-h1 {
  color:#1DCECE;
}

@media (max-width: 768px) {
  .subject-img-none {
    display:none!important;
  }

  .subject-content-padding-md {
    padding: 1.5rem 0;
  }
}
