<section class="p-5">
  <h1 class="text-center pb-2" style="color:#293655;">{{ i18n "addons_overview" }}</h1>
  <div class="container">
    <div class="row text-center g-4">
      <div class="col-md d-flex">
        <div class="card bg-dark text-light">
          <div class="ocm card-body text-center d-flex flex-column">
            <h4 class="card-title mb-3">{{ i18n "addons_grc" }}</h4>
            <p class="card-text fw-light">{{ i18n "addons_grc_content" }}</p>
            <a role="button" class="btn btn-outline-info mt-auto" href="getting-started/integration/policy-framework">{{ i18n "addons_grc_link" }}</a>
          </div>
        </div>
      </div>

      <div class="col-md d-flex">
        <div class="card bg-secondary text-light">
          <div class="ocm card-body text-center d-flex flex-column" >
            <h4 class="card-title mb-3 ">{{ i18n "addons_apps" }}</h4>
            <p class="card-text card-text-fix-pt-top fw-light">{{ i18n "addons_apps_content" }}</p>
            <a role="button" class="btn btn-outline-info mt-auto" href="getting-started/integration/app-lifecycle/">{{ i18n "addons_apps_link" }}</a>
          </div>
        </div>
      </div>
  </div>
  </div>
</section>
