<section class="p-5">
  <!-- <p class=" ps-4 mb-3  fs-2 fw-bold pb-1" style="color: rgb(240, 184, 0, 0.979)">Install management addons in different scenarios</p> -->
  <h2 class="text-warning pb-2 text-justify addon-title ps-3"> Install management addons in different scenarios</h2>
  <div class="container">
    <div class="row text-center g-4">
      <div class="col-md d-flex">
        <div class="card bg-dark text-light">
          <div class="card-body text-center d-flex flex-column" style="background-color: #0e0f45;">
            <h4 class="card-title mb-3">Configure, secure, and manage your resources.</h4>
            <p class="card-text">
              Policy and configuration management uses labels to
              help you deploy policies and control consistently
              across your resources. Keep your resources
              secure by using access control and manage for your quota and cost.
            </p>
            <a role="button" class="btn btn-outline-warning mt-auto">Learn more about Policies</a>
          </div>
        </div>
      </div>

      <div class="col-md d-flex">
        <div class="card bg-secondary text-light">
          <div class="card-body text-center d-flex flex-column" style="background-color: #0e0f45;">
            <h4 class="card-title mb-3 "> Launch apps <br>everywhere.</h4>
            <p class="card-text card-text-fix-pt-top">
              Use application lifecycle to create your application 
              and deliver hybrid apps across one or more
              clusters, while you keep up with changes.
            </p>
            <!-- <div class="pt-5"> -->
            <a role="button" class="btn btn-outline-warning mt-auto">Learn more about applications</a>
          <!-- </div> -->
          </div>
        </div>
      </div>

      <div class="col-md">
        <!-- <div class="card  text-dark"> -->
          <div class="card-body text-left">
            <div class="h4 mb-3">
              And More Addons...
          </div>
        </div>
      <!-- </div> -->
    </div>
  </div>
</section>