<section class="feature-section">
  <h1 class="text-center feature-h1">{{ i18n "feature_overview" }}</h1>
  <div class="container">
    <div class="row text-center g-4">
      <div class="col-md">
        <div class="card text-light ocm full-height">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <i class="bi bi-laptop"></i>
            </div>
            <h3 class="card-title mb-3">{{ i18n "feature_cluster_inventory" }}</h3>
            <p class="card-text fw-light">{{ i18n "feature_cluster_inventory_content" }}</p>
          </div>
        </div>
      </div>
      <div class="col-md">
          <div class="card text-light ocm full-height">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <i class="bi bi-person-square"></i>
            </div>
            <h3 class="card-title mb-3">{{ i18n "feature_work_distribution" }}</h3>
            <p class="card-text fw-light">{{ i18n "feature_work_distribution_content" }}</p>
          </div>
        </div>
      </div>
      <div class="col-md">
          <div class="card text-light ocm full-height">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <i class="bi bi-people"></i>
            </div>
            <h3 class="card-title mb-3">{{ i18n "feature_content_placement" }}</h3>
            <p class="card-text fw-light">{{ i18n "feature_content_placement_content" }}</p>
          </div>
        </div>
      </div>
      <div class="col-md">
          <div class="card text-light ocm full-height">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-cloud"></i>
              </div>
              <h3 class="card-title mb-3">{{ i18n "feature_apis" }}</h3>
              <p class="card-text fw-light">{{ i18n "feature_apis_content" }}</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
