<section class="p-4" style="background-color: #0e0f45;">
  <h1 class="text-warning text-center pb-2"> Feature Overview</h1>
  <div class="container ">
    <div class="row text-center g-4">
      <div class="col-md">
        <div class="card  text-light" style="background-color: #0e0f45;">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <i class="bi bi-laptop"></i>
            </div>
            <h3 class="card-title mb-3">Cluster inventory</h3>
            <p class="card-text">
              Registration of multiple clusters to a hub cluster 
              to place them for management.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md">
          <div class="card  text-light" style="background-color: #0e0f45;">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <i class="bi bi-person-square"></i>
            </div>
            <h3 class="card-title mb-3">Work distribution</h3>
            <p class="card-text">
              The work API that enables resources to be applied to 
              managed clusters from a hub cluster.  
            </p>
          </div>
        </div>
      </div>
      <div class="col-md">
          <div class="card  text-light" style="background-color: #0e0f45;">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <i class="bi bi-people"></i>
            </div>
            <h3 class="card-title mb-3">Content placement</h3>
            <p class="card-text">
              Dynamic placement of content and behavior across multiple clusters.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md">
          <div class="card  text-light" style="background-color: #0e0f45;">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-cloud"></i>
              </div>
              <h3 class="card-title mb-3">Vendor neutral APIs</h3>
              <p class="card-text">
                  Avoid vendor lock-in by using APIs that are not tied to any cloud providers or proprietary platforms.
              </p>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>