<section class="section features is-small">
  
  <div class="container is-fluid">
    <div class="columns">
      <div class="column is-one-fifth">
        <img src="img/ocm-large-planet.png" alt="">
      </div>
      <div class="column content is-three-fifths text-center">
            <h1 class=""> Manage the entire lifecycle of your clusters</h1>
            <p>Multicluster management helps you provision new clusters, register existing clusters that you have, and upgrade, scale, and decommission your cluster, anytime.</p>
            <a class="button is-primary p-5 mt-4" href="">Learn more about cluster management</a>
      </div>
      <div class="column is-one-fifth">
        <img src="img/ocm-saturn.png" alt="">
      </div>
    </div>



    <!-- <div class="row text-center g-4">
      <div class="col-md">
        <div class="card text-light ocm">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <i class="bi bi-laptop"></i>
            </div>
            <h3 class="card-title mb-3">Cluster inventory</h3>
            <p class="card-text fw-light">
              Registration of multiple clusters to a hub cluster 
              to place them for management.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md">
          <div class="card  text-light ocm">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <i class="bi bi-person-square"></i>
            </div>
            <h3 class="card-title mb-3">Work distribution</h3>
            <p class="card-text fw-light">
              The work API that enables resources to be applied to 
              managed clusters from a hub cluster.  
            </p>
          </div>
        </div>
      </div>
      <div class="col-md">
          <div class="card  text-light ocm">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <i class="bi bi-people"></i>
            </div>
            <h3 class="card-title mb-3">Content placement</h3>
            <p class="card-text fw-light">
              Dynamic placement of content and behavior across multiple clusters.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md">
          <div class="card  text-light ocm">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-cloud"></i>
              </div>
              <h3 class="card-title mb-3">Vendor neutral APIs</h3>
              <p class="card-text fw-light">
                  Avoid vendor lock-in by using APIs that are not tied to any cloud providers or proprietary platforms.
              </p>
            </div>
          </div>
        </div>
    </div>
  </div> -->
</section>
