<nav class="navbar navbar-expand-lg navbar-dark py-3 fixed-top"
style="background-color: #0e0f45;">
  <div class="container">
    <a href="/" class="navbar-brand">
    <img src="/OCM-White_MainGradient.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
   Open Cluster Management
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item pe-2">
          <a href="/concepts/addon" class="nav-link text-light">Docs</a>
        </li>
        <li class="nav-item pe-2">
          <a href="/blog/blog" class="nav-link text-light">Blogs</a>
        </li>
        <li class="nav-item pe-2">
          <a href="/contribute/contribute" class="nav-link text-light">Contribute</a>
        </li>
        <li class="nav-item pe-2">
          <a href="/getting-started/quick-start" class="nav-link text-light">Getting Started</a>
        </li>
        <li class="nav-item pe-3">
          <a class="nav-link text-light" href="https://www.youtube.com/channel/UC7xxOh2jBM5Jfwt3fsBzOZw" target="_blank">
              <i class="bi bi-youtube"></i>
            </a>
        </li>
        <li class="nav-item pe-3">
          <a class="nav-link text-light" href="https://github.com/open-cluster-management" target="_blank">
            <i class="bi bi-github"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>







