<section class="hero">
  <div class="hero-background">
    <img src="img/ocm-banner-bkgd.png" alt="background image of planets and stars" />
  </div>
  <div class="container is-fluid">
    <div class="hero-body">
      <div class="columns">
        <div class="column is-half-desktop">
          <h1 class="is-size-2">Make working with many Kubernetes clusters super easy <span>regardless of where they are deployed.</span></h1>
          <p class="my-5">Open Cluster Management is a community-driven project focused on multicluster and multicloud scenarios for Kubernetes apps. Open APIs are evolving within this project for cluster registration, work distribution, dynamic placement of policies and workloads, and much more.</p>
          <div class="hero-button-container pt-2">            
            <a class="button is-primary " href="/getting-started/quick-start/" target="_blank">Get Started!</a>            
            <a class="button is-primary " href="https://kubernetes.slack.com/?redir=%2Farchives%2FC01GE7YSUUF" target="_blank">Join us on Slack </a>
          </div>
        </div>
        <div class="column is-half-desktop hero-astro">
          <img src="img/ocm-header-astro-sm.png" alt="astronaut sitting at keyboard" />
        </div>
      </div>
    </div>
  </div>
</section>
