<section class="infra-support section is-small has-text-centered">
  <div class="container is-fluid ">
    <div class="content text-center">
      <div class=>
        <h1>There’s something for everyone</h1>
        <p>Open Cluster Management supports infrastructure from major providers, and we're constantly adding more to the list. Join our Slack channel if you are interested in contributing your own provider.</p>
      </div>
      <div class="columns is-8 is-variable is-justify-content-center is-multiline">
        <img class="column is-inline" src="img/provider-aws.png" alt="">
        <img class="column is-inline" src="img/provider-ibm.png" alt="">
        <img class="column is-inline" src="img/provider-azure.png" alt="">
        <img class="column is-inline" src="img/provider-google.png" alt="">
        <img class="column is-inline" src="img/provider-rh.png" alt="">
      </div>
      <a class="button is-outlined is-primary p-5" href="https://kubernetes.slack.com/?redir=%2Farchives%2FC01GE7YSUUF" target="_blank">Join our Slack Channel</a>
    </div>
  </div>
</section>