<section class="quick-start section">
  <div class="container is-fluid">
    <div class="columns is-centered">
      <div class="column is-one-fifth">
          <span></span>
          <h2 class="is-size-3">Quick start</h2>
      </div>
      <div class="column is-four-fifths">
        <div class="columns is-desktop">
          <div class="column">
            <div class="card">
              <div class="content is-flex flex-column">
                <span>1</span>
                <h4>Install a Cluster Manager on your hub cluster</h4>
                <p>The Cluster Manager provides the multicluster hub, which can manage Kubernetes-based clusters across data centers, public clouds, and private clouds</p>
                <div class="qs-link-wrapper is-flex flex-column">
                  <a href="">Go to Cluster Manager Installer <i> --></i></a>
                  <a href="">For more details see install hub <i> --></i></a>
                </div>
              </div>
            </div>

          </div>
          <div class="column">
            <div class="card">
              <div class="content is-flex flex-column">
                <span>2</span>
                <h4>Install a Klusterlet on your managed cluster</h4>
                <p>The Klusterlet proivdes the registation to the Hub clusters as a managed cluster.</p>
                <div class="qs-link-wrapper is-flex flex-column">
                  <a href="">Go to Klusterlet agent installer <i> --> </i></a>
                  <a href="">For more details see Install Klusterlet <i> --> </i></a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
