<section class="text-warning  p-3 pb-4">
  <div class="container">
    <div class="d-md-flex justify-content-between align-items-center">
      <h2 class=" mb-3 mb-md-0 fw-bold pt-3"
      style="color: rgb(240, 184, 0, 0.979)">Quick Start</h2>
          <img
          src="/clusteradm_init.png"
          alt="" class="pt-3 clusteradm_init"/>
          <div class="pt-3">
          <a class="btn  btn-dark btn-lg " role="button" href="/getting-started/quick-start/">
            Go to Getting Started </a> </div>
        </a>
    </div>
  </div>
</section>