<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<!-- jQuery Custom Scroller CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        pathname = window.location.pathname
        paths = pathname.replace(/^\/|\/$/g, '').split('/')
        rootPath = $('#'+paths[0])
        if (rootPath.length == 0) {
            // the first path is i18n language, remove it and get the root path again
            paths.shift()
            rootPath = $('#'+paths[0])
        }

        console.log('paths', paths, rootPath)

        rootPath.find('a.navlink').each(function() {
            href = $(this).attr('href')
            if (pathname == (href + '/')) {
                // highlight the current link
                $(this).css({'background':'#fff', 'color': '#7386D5'})

                // unfold parents ul
                $(this).parents('ul.collapse').each(function() {
                    console.log('parent ul', $(this))
                    $(this).addClass('show')
                })

                // unfold sibling ul
                $(this).siblings('ul.collapse').each(function() {
                    console.log('sibling ul', $(this))
                    $(this).addClass('show')
                })

                return
            }
        })


        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });
        $('#sidebarCollapse').on('click', function () {
            console.log("2");
            $('#content').toggleClass('active');
            $('#sidebar').toggleClass('sidebar-active')
        });
    });
</script>
