{{ $home := .Site.GetPage "home" }}

{{ $rootPath := "" }}
{{ if eq $home.Lang "zh" }}
    {{ $rootPath = "/zh" }}
{{ end }}

<nav id="sidebar">
    <div class="sidebar-header">
        <a class="navlink" href="{{ $rootPath }}/">
        <img src="/OCM-White_MainGradient.svg" alt="" width="50" height="70" class="d-inline-block align-text-top">
        <h4>Open Cluster Management</h4>
        </a>
    </div>
    <ul class="list-unstyled components">
        <li id="concepts">
            <a class="navlink" href="{{ $rootPath }}/concepts">{{ i18n "sidebar_concepts" }}</a>
            <ul class="collapse list-unstyled">
                <li>
                    <a class="navlink" href="{{ $rootPath }}/concepts/architecture">{{ i18n "sidebar_architecture" }}</a>
                </li>
                <li>
                    <a class="navlink" href="{{ $rootPath }}/concepts/managedcluster">{{ i18n "sidebar_managed_cluster" }}</a>
                </li>
                <li>
                    <a class="navlink" href="{{ $rootPath }}/concepts/manifestwork">{{ i18n "sidebar_manifest_work" }}</a>
                </li>
                <li>
                    <a class="navlink" href="{{ $rootPath }}/concepts/placement">{{ i18n "sidebar_placement" }}</a>
                </li>
                <li>
                    <a class="navlink" href="{{ $rootPath }}/concepts/addon">{{ i18n "sidebar_addons" }}</a>
                </li>
            </ul>
        </li>
        <li id="getting-started">
            <a class="navlink" href="{{ $rootPath }}/getting-started">{{ i18n "sidebar_getting_started" }}</a>
            <ul class="collapse list-unstyled">
                <li>
                    <a class="navlink" href="{{ $rootPath }}/getting-started/quick-start">{{ i18n "sidebar_quick_start" }}</a>
                </li>
                <li>
                    <a class="navlink" href="{{ $rootPath }}/getting-started/core">{{ i18n "sidebar_core_components" }}</a>
                    <ul class="collapse list-unstyled">
                        <li>
                            <a class="navlink" href="{{ $rootPath }}/getting-started/core/cluster-manager">{{ i18n "sidebar_cluster_manager" }}</a>
                        </li>
                        <li>
                            <a class="navlink" href="{{ $rootPath }}/getting-started/core/register-cluster">{{ i18n "sidebar_register_cluster" }}</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="navlink" href="{{ $rootPath }}/getting-started/integration">{{ i18n "sidebar_integrations" }}</a>
                    <ul class="collapse list-unstyled">
                        <li>
                            <a class="navlink" href="{{ $rootPath }}/getting-started/integration/app-lifecycle">{{ i18n "sidebar_apps" }}</a>
                        </li>
                        <li>
                            <a class="navlink" href="{{ $rootPath }}/getting-started/integration/policy-framework">{{ i18n "sidebar_grc" }}</a>
                        </li>
                        <li>
                            <a class="navlink" href="{{ $rootPath }}/getting-started/integration/policy-controllers">{{ i18n "sidebar_grc_ctrl" }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li id="scenarios">
            <a class="navlink" href="{{ $rootPath }}/scenarios">{{ i18n "sidebar_scenarios" }}</a>
            <ul class="collapse list-unstyled">
                <li>
                    <a class="navlink" href="{{ $rootPath }}/scenarios/deploy-kubernetes-resources">{{ i18n "sidebar_deploy_kubernetes_resources" }}</a>
                </li>
            </ul>
        </li>
        <li id="community">
            <a class="navlink" href="{{ $rootPath }}/community">{{ i18n "sidebar_community" }}</a>
            <ul class="collapse list-unstyled">
                <li>
                    <a class="navlink" href="{{ $rootPath }}/community/releases">{{ i18n "sidebar_releases" }}</a>
                </li>
                <li >
                    <a class="navlink" href="{{ $rootPath }}/community/roadmap">{{ i18n "sidebar_roadmap" }}</a>
                </li>
                <li>
                    <a class="navlink" href="{{ $rootPath }}/community/resource">{{ i18n "sidebar_resources" }}</a>
                </li>
            </ul>
        </li>
        <li id="contribute">
            <a class="navlink" href="{{ $rootPath }}/contribute">{{ i18n "sidebar_contribute" }}</a>
        </li>
        <li id="blog">
            <a class="navlink" href="{{ $rootPath }}/blog">{{ i18n "sidebar_blog" }}</a>
        </li>
    </ul>
    <ul class="list-unstyled sidebar-footer">&copy; 2021 Open Cluster Management Authors</ul>
</nav>
