<!-- Sidebar  -->
<nav id="sidebar">
    <div class="sidebar-header">
        <a class="navlink" href="/">
        <img src="/OCM-White_MainGradient.svg" alt="" width="50" height="70" class="d-inline-block align-text-top">
        <h4>Open Cluster Management</h4>
        </a>
    </div>
    <ul class="list-unstyled components">
        <p>Navigation</p>
        <li>
            <a class="navlink" href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Concepts</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li >
                    <a class="navlink" id="roadmap" href="/concepts/roadmap">Roadmap</a>
                </li>
                <li>
                    <a class="navlink" id="architecture" href="/concepts/architecture">Architecture</a>
                </li>
                <li>
                    <a class="navlink" id="managedcluster" href="/concepts/managedcluster">ManagedCluster</a>
                </li>
                <li>
                    <a class="navlink" id="manifestwork" href="/concepts/manifestwork">ManifestWork</a>
                </li>
                <li>
                    <a class="navlink" id="placement" href="/concepts/placement">Placement</a>
                </li>
                <li>
                    <a class="navlink" id="addon" href="/concepts/addon">Add-ons</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="navlink" href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Community</a>
            <ul class="collapse  list-unstyled" id="pageSubmenu2">
                <li>
                    <a class="navlink" id="releases" href="/community/releases">Releases</a>
                </li>
                <li>
                    <a class="navlink" id="resource" href="/community/resource">Resources</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="navlink" href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Getting Started</a>
            <ul class="collapse  list-unstyled" id="pageSubmenu">

                <li>
                    <a class="navlink" id="quick-start" href="/getting-started/quick-start">Quick Start</a>
                </li>

                <li>
                    <!-- href="#pageSubsubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"-->
                    <a class="navlink"  id="core" href="/getting-started/core"  >Core Components</a>
                    <ul class="collapse list-unstyled" id="pageSubsubmenu">
                        <li>
                            <a class="navlink" id="cluster-manager" href="/getting-started/core/cluster-manager">Cluster Manager</a>
                        </li>
                        <li>
                            <a class="navlink" id="register-cluster" href="/getting-started/core/register-cluster">Klusterlet Agent</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="navlink"  id="integration" href="/getting-started/integration"  >Add-ons and Integrations</a>
                    <!-- <a class="navlink" href="#pageSubsubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Add-ons and Integrations</a> -->
                    <ul class="collapse  list-unstyled" id="pageSubsubmenu2">
                        <li>
                            <a class="navlink" id="app-lifecycle" href="/getting-started/integration/app-lifecycle">Application lifecycle management</a>
                        </li>
                        <li>
                            <a class="navlink" id="policy-framework" href="/getting-started/integration/policy-framework">Policy framework</a>
                        </li>
                        <li>
                            <a class="navlink" id="policy-controllers" href="/getting-started/integration/policy-controllers">Policy controllers</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a class="navlink" id="contribute" href="/contribute/contribute">Contribute</a>
        </li>

        <li>
            <a class="navlink" id="blog" href="/blog/blog">Blog</a>
        </li>
    </ul>
    <ul class="list-unstyled CTAs">
        @ Open Cluster Management Authors
    </ul>
</nav>
