
<section class="ocm text-light subject-padding">
  <div class="container-fluid">
    <div class="d-sm-flex align-items-center">
      <div class="subject-content-padding subject-content-padding-md">
        <h1>{{ i18n "subject_title" }}</h1>
        <p class="lead my-4">{{ i18n "subject_content" }}</p>
        <div class="d-md-block">
          <a class="ocm-btn ocm-btn-lg"
            href="getting-started/quick-start"
            role="button">{{ i18n "subject_getting_started" }}</a>
        </div>
      </div>
      <img src="/robot7.png" alt="" class="subject-img subject-img-none" />
    </div>
  </div>
</section>
