<section
class="text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start"
style="background-color: #0e0f45;"
>
<div class="container">
  <div class="d-sm-flex align-items-center justify-content-between">
    <div>
      <h1><span class="text-warning"> 
      Make working with many Kubernetes clusters super easy 
      </span>regardless of where they are deployed.</h1>
      <p class="lead my-4">
        Open Cluster Management is a community-driven project focused on 
        multicluster and multicloud scenarios for Kubernetes apps. 
        Open APIs are evolving within this project for cluster registration, 
        work distribution, dynamic placement of policies and workloads, 
        and much more.
      </p>
      <div class="d-grid gap-2 d-md-block">
      <a class="btn btn-lg btn-outline-info btn-block" 
      href="https://github.com/open-cluster-management" role="button"
      target="_blank"
      data-bs-target="#enroll">
      Get started on Github</a>
      <a class="btn btn-lg btn-outline-info btn-block" 
      href="https://kubernetes.slack.com/?redir=%2Farchives%2FC01GE7YSUUF" role="button"
      target="_blank"
      data-bs-target="#enroll">
      Join us On Slack</a>
     </div>       
    </div>
    <img
      src="robot7.png"
      alt=""
      class="img-fluid w-20 d-none d-sm-block rounded  pe-1" 
      style="width:23%; height:20%"
    />
    </div>
</div>
</section>