<!--Note: The logo should be sorted by alphabetic according to CNCF policy-->
<section class="supports-section">
    <h1 class="text-center feature-h1">{{ i18n "supported_by" }}</h1>
    <div class="supports-grid">
        <a class="supports-logo" href="https://www.alibabacloud.com/" title="Alibab Cloud" target="_blank"><img src="/alibaba-cloud.svg" /></a>
        <a class="supports-logo" href="https://www.antgroup.com/" title="Ant Group" target="_blank"><img src="/ant-group.svg" /></a>
        <a class="supports-logo" href="https://www.redhat.com/" title="Red Hat" target="_blank"><img src="/red-hat.svg" /></a>
        <a class="supports-logo tencent-logo" href="https://cloud.tencent.com/" title="Tencent Cloud" target="_blank"><img src="/tencent-cloud.svg" /></a>
        <a class="supports-logo" href="https://www.xiaohongshu.com/" title="Xiaohongshu" target="_blank"><img src="/xiaohongshu.svg" /></a>
    </div>
</section>
